body {
    background-image: url(../img/cgibg.png);
    background-repeat:repeat-y;
    background-position:center center;
    background-attachment:scroll;
    background-size:100% 100%;
}
.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
	color:black;
	text-shadow:none;
	padding-top:25px !important;
}
/* Prevent text selection while swiping with mouse */
.ui-page .ui-header, .ui-title, .control .ui-btn, .trivia-btn, .ui-content {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
